body {

     background-color: gray; 
}

.main {

    width: 960px;
    margin: 0 auto;
    border: 1px;
}

.header {
    height: 169px;
}

.hero {
    background-image: linear-gradient(to top,rgba(255, 255, 255, .3), transparent), url('../images/pattern.png');
    /* el background-image sirve para mezclar 2 imagenes de fondo, to top se refiere que viene desde abajo el bg */
    width: 820px;
    height: 121px;
    margin: 0 auto;

}

.menu {
    background-color: #000;
    height: 38px; 
    /* No le puedo colocar un height menor porque me desordena los div */
}

.menu ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li{

    display: inline-block;
}

.menu ul li a{

    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu ul li a:hover {

    background-color: #42B881;
    
}

.menu ul .derecha {
    float: right;
}




.container { 
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}

.formulario {
    margin: 2.5px;

}

table {
    background-color: white;
    width: 100px;
}

th, td {
    border: solid 1px black;
}


#submit {
    background-color: #2a91bd;
    color: #fff;
    padding: 10px 15px;
    border: solid 0px; /* quitandole el borde */
    border-radius: 25px;
    margin: 15px;
    margin-left: 38px;
}

article {
    margin: 2.5px;
    flex-direction: row;
    justify-content: start;
    display: flex;
    text-align: center;
    width: 530px;
    height: 545;
}


img {
    width:200px;
    height: 100px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px;
    border-radius: 5px;
    
}

.arriba {
    margin-top: 5px;
}

footer {
    
    text-align: center;
    background-color: teal;
    height: 70px;
    width: 960;
    
}


.datos {
    margin-top: 5px;
    margin-bottom: 3px;
}

